## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb


/report/final_exam_solutions.synctex.gz
/env/
/report/data/.~lock.conv_predictions.csv#
/report/data/.~lock.dickey-fuller.csv#
/report/data/.~lock.dickey-fuller_ts_log.csv#
/report/data/.~lock.dickey-fuller_ts_log_moving_avg_diff.csv#
